*{
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: white;
    --bg-url: url(./assets/mobile.jpg);
    --stroke-color:  rgba(255, 255, 255, 0.5);
    --surface-color:  rgba(255, 255, 255, 0.1);
    --link-color-back: rgba(255, 255, 255, 0.2);
    --switch-case: white url(./assets/handle.svg);
}

.light{
    --text-color: black;
    --bg-url: url(./assets/mobile-light.jpg);
    --stroke-color:  rgba(0, 0, 0, 0.5);
    --surface-color:  rgba(0, 0, 0, 0.05);
    --link-color-back: rgba(65, 65, 65, 0.589);
    --switch-case: black url(./assets/handle_dark.svg);
}

body{
    /*
        background-image: url(./assets/mobile.jpg);
        background-repeat: no-repeat;  não repete a imagem 
        background-position: top center;
        background-size: cover;
    */

    /*SHORT HAND*/
    background: var(--bg-url) no-repeat top center/cover;
}

#container{
    width: 100%;
    max-width: 588px;
    margin:auto;
}
/* PROFILE */
#profile{
    text-align: center;
    margin-top: 56px;
    padding: 24px;
}

#profile img{
    width: 112px;
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* SWITCH */
#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background: var(--switch-case) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    left: 0;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

#switch span{
    display: block;
    border-radius: 9999px;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid  var(--stroke-color);
    -webkit-backdrop-filter: blur(4px);
}

.light #switch button{
    right: 0;
    left: initial;
}

/* LINKS */
ul{
    padding: 24px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a{
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--surface-color);
    /* stroke-color-dark-mode */
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 8px;
    padding: 24px;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.2s;
}

ul li a:hover{
    background: rgba(255, 255, 255, 0.05);
    border: 1.5px solid var(--text-color);
}

#social-links{
    margin-top: 10px;
    padding: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 32px;
    font-size: 24px;
}

#social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover{
    background: var(--link-color-back);
}

footer{
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}